body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    display: flex;
}

.navbar-login {
    margin-left: auto;
}

.menu-vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px; /* ancho del menú */
    background-color: #ffffff;
    color:black;
    font-family: Arial, sans-serif;
    font-weight: 900;
    text-decoration: none;
}




.container{
    margin: 20px auto;
    width: 90%;
    height : 400px;
    max-width: 1600px;
    outline: 4px solid;

    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-rows: 100px 10em 1fr;
}
.element{
    color:#ffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.element-1{
    background-color:seagreen ;
    grid-column: 1/5;
    grid-row: 1/2;
}
.element-2{
    background-color: deeppink;
    grid-column: 5/7;
    grid-row: 1/2;
}
.element-3{
    background-color: indigo;
    grid-column: 1/7;
    grid-row: 2/3;
}
.element-4{
    background-color: royalblue;

}

.element-5{
    background-color:seagreen ;
}
.element-6{
    background-color: #cbcbcb;
    grid-column: 2/7;
    grid-row: 1/4;
}


