body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    display: flex;
}

.navbar-login {
    margin-left: auto;
}

