body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: linear-gradient(150deg,#ffff, #b16c38);
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
}
.username label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(50%);
    font-size: 16px;
    pointer-events: none;
}
